/*-- Typography
------------------------------*/

@font-face {
    font-family: BTTF;
    src: url(../fonts/BTTF.ttf) format("truetype");
}

@font-face {
    font-family: Digital;
    src: url(../fonts/digital.ttf) format("truetype");
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

/*-- Global
------------------------------*/

html,
body {
    height: 100%;
}

html {
    background: url("../images/background.jpg") no-repeat center center fixed;
    background-size: cover;
}

body {
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 1);
}

/*-- Jumbotron
------------------------------*/

.container .jumbotron {
    width: 90%;
    min-height: 230px;
    background: transparent;
    margin: 0 auto;
    padding: 30px 0;
    border-bottom: 3px solid rgba(255, 255, 255, 0);
    border-radius: 0;
}

.logo {
    display: inline-block;
    font-family: BTTF, Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: #F7E928;
}

.back {
    width: 400px;
    font-size: 1.8em;
    line-height: 1em;
    vertical-align: middle;
    margin-left: 6em;
    background: -webkit-linear-gradient(#CB1921, #F7E928);
    opacity: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #169CD2;
}

.arrow {
    font-size: 1.5em;
    margin: 0 0 0 -10px;
    vertical-align: middle;
    -webkit-text-stroke: 2px #169CD2;
}

.to-the-future,
.trivia {
    opacity: 0;
}

.to-the {
    float: left;
    text-align: left;
    font-size: 0.67em;
    line-height: 0.9em;
    padding-top: 2px;
    padding-right: 10px;
    background: -webkit-linear-gradient(top, #F7E928, #CB1921);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #169CD2;
}

.to-the span {
    font-size: 0.7em;
    -webkit-text-stroke: 2px #169CD2;
}

.future {
    float: left;
    font-size: 1.37em;
    line-height: 1em;
    padding-top: 2px;
    background: -webkit-linear-gradient(#F7E928, #CB1921);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #169CD2;
}

.trivia {
    text-align: right;
    font-size: 0.5em;
    margin-right: 5em;
    color: #FFF;
}

/*-- User Interface
------------------------------*/

a.skip-intro {
    width: 100px;
    position: absolute;
    top: 0;
    left: 50%;
    font-size: 16px;
    text-align: center;
    margin-left: -50px;
    padding: 20px 0;
    box-sizing: border-box;
    text-decoration: none;
    cursor: pointer;
}

a.skip-intro:hover {
    color: #D96423;
}

.game-wrapper {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 30px;
    border: 10px solid rgba(255, 255, 255, 0);
    margin-top: 60px;
    padding: 0 0 60px;
    color: #FFF;
}

.questions-wrapper {
    padding: 40px 10% 0;
}

a.start-button {
    font-size: 30px;
    background: #D96423;
    text-transform: uppercase;
    font-weight: 700;
    border: 0;
    border-radius: 10px;
    padding: 5px 30px;
    letter-spacing: 1px;
    opacity: 0;
}

a.start-button:hover {
    background: rgb(168, 76, 26);
}

/*----- Timer -----*/

.timer-wrapper {
    display: inline-block;
    font-size: 1.2em;
    line-height: 1.6em;
    background: -webkit-linear-gradient(#5c5c5c, #3a3a3a);
    padding: 0 4px 4px;
    border-radius: 6px;
    text-transform: uppercase;
}

.time-remaining {
    padding: 4px 10px;
}

.timer-display {
    display: block;
    font-family: Digital, Arial, Helvetica, sans-serif;
    font-size: 3em;
    background: #000;
    padding: 10px 0;
    border-radius: 5px;
    color: #B44016;
}

h3.current-question {
    margin-bottom: 30px;
}

a.question-option {
    display: block;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    background: rgb(16, 103, 153);
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 20px;
    border-radius: 8px;
}

a.question-option:hover {
    background: rgb(10, 63, 94);
}

/*----- Answer Reveal -----*/

.message {
    font-size: 3em;
    font-weight: 700;
    line-height: 1em;
    color: #B44016;
    text-transform: uppercase;
    margin-bottom: 0.5em;
}

.correct-message {
    font-size: 1.6em;
}

.correct-answer {
    font-weight: 700;
    font-size: 3em;
    line-height: 1.2em;
    margin-bottom: 0.6em;
}

.img-responsive {
    display: inline-block;
}